
.CSSstyle { font-family: didot;
      color: black;
      font-size: 15px;
      line-height: 2.0;
      text-align: justify;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 50px;
      padding-bottom: 50px}
